<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tanda">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Product">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".MasterClass">

        </activity>
        <activity android:name=".Chef"></activity>
        <activity android:name=".ChefList"></activity>
        <activity android:name=".RecipesActivity" />
        <activity android:name=".RecipeCategory" />
        <activity android:name=".Products" />
        <activity android:name=".CollectionProducts" />
        <activity android:name=".Collection" />
        <activity android:name=".CollectionActivity" />
        <activity android:name=".NewCollection" />
        <activity android:name=".Shops" />
        <activity android:name=".Recipe" />
        <activity android:name=".Food" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>